html.js a.activeedit-throbbing {
  background:url(status-active.gif) no-repeat right center;
  padding-right:18px;
}

html.js div.activeedit-active, div.activeedit-active * {
  background-color: yellow;
  cursor: pointer;
}

html.js div.form-item {
  padding: 5px;
}

html.js div.activeedit-link {
  background-color: pink;
  position: absolute;
  top: 10px;
  right: 20 px;
}

div.activeedit-enable {
  float: right;
}